/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: hsl(0, 0%, 100%);
  width: 100%;
  max-width: 320px;
  padding: 16px;
  border-radius: 16px;
  text-align: center;
}

.image-qr-code {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 20px;
}

.title {
  font-size: 22px;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  margin-bottom: 16px;
}

.description {
  font-size: 15px;
  font-weight: 400;
  color: hsl(216, 15%, 48%);
  line-height: 1.4;
  margin : auto 20px;
  margin-bottom: 20px;
}

